<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <title>领券说明</title>
    <link href="/s/css/style.css" rel="stylesheet">
</head>
<body>
<div class="topArea">
    <img src="/s/image/bg.png">
    <p>填写手机号</p>
</div>
<div class="hintArea">
    <div class="title">&#183;&nbsp;如&nbsp;何&nbsp;领&nbsp;券&nbsp;&#183;</div>
    <div class="content">
        <ul>
            <li>1.扫码关注"中油好客e站"</li>
            <li>2.在公众号菜单点击右下角"更多",即可查看"我的电子券"</li>
            <li>3.显示出来即是领取成功</li>
            <li>4.所有电子券都将在确认领取成功后三天内发放</li>
        </ul>
        <img src="/s/image/qr.png">
        <span>中油好客e站</span>
    </div>
</div>
</body>
</html>